.mind-map-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node.highlighted text {
  font-weight: bold;
}

.link.highlighted {
  stroke-width: 4px;
  stroke: #3182ce;
}

.node text {
  font: 12px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

.node.dimmed,
.link.dimmed {
  opacity: 0.3;
}
